$bg-color: #f3f7fa;
$primary-color: #0b1f35;
$color-orange: #ff7715;
$container-width: 75rem;
$btn-padding: 10px;
$checkbox-padding: 10px;
$gap-default: 20px;
$card-padding: 20px;
$btn-text-color: #25aff8;
$btn-hover-bg: #25aff8;
$btn-hover-color: #fff;
$label-font-size: 14px;
$label-text-transform: uppercase;
$checkbox-border-radius: 5px;
$checkbox-max-height: 38px;
$checkbox-hover-bg: #f0f8ff;
$card-shadow: 0.4px 1px 1px 1px rgba(0, 0, 0, 0.08);
$input-border-color: #ccc;
$input-border-radius: 5px;
$scroll-padding: 10px;
